{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["externals/**", "dist/**"],
  "rules": {
    "curly": [1, "all"],
    "@typescript-eslint/no-unused-vars": [
      1,
      { "vars": "all", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
  }
}
