body {
  @apply min-h-[100vh] min-w-[100vw];
  @apply bg-dark-900 text-light-100;
}

.h-grad {
  @apply bg-gradient-to-br from-sky-400 via-green-500 to-cyan-300;
}

.grad-animate {
  background-size: 400%;
  -webkit-animation: grad 3s ease infinite;
  -moz-animation: grad 3s ease infinite;
  animation: grad 3s ease infinite;
}

@keyframes grad {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}